@import '../../theme.scss';

.information-block {
	display: block;
	border-bottom: 1px solid $lightGrey;
	padding: 16px 0;

	&:first-child {
		padding: 0 0 16px;
	}

	&:last-child {
		padding: 0;
		border-bottom: none;
	}
}

.information-item {
	width: 100%;
}
